h1 {
    color:white;
    padding-left: 30px;
}

/* * {
    border: solid;
} */
.header * {
    border: solid;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-style: oblique;
}


p,h2{
    text-align: center;
   font-style: inherit ;
   
}